*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding: 90px 20px 0;
  background-color: transparent;
  background-image: url('paisaje.jpg');
  
}
.imagen_inicio{
  position: relative;
  left: 25%;
  width: max-content;
  margin:5px auto;
  background-image: url('cerdonio.jpeg');
  padding: 10rem 18rem;
  margin-top: 50px;
  border-radius: 5%;
}

#main{
  background-color: #ffffff;
  opacity: 78%;
  height: 90px;
  position: fixed;
  top:0;
  width: 100%;
  right: 1px;
}

.logo{
  
  background-image: url('groupE1.png');
  
  padding: 5px;
  height: 8px;
  position: left;
  top:5rem;
  width: 2.5px;
  /*color:black;
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
  text-decoration: none;
  font-family: 'Rubik Glitch', cursive; cerdonio.jpeg*/
}
.text_juego{
  font-size: 20px;
  margin: 10px 20px;
  font-family: 'Rubik Glitch', cursive;
  position: fixed;
  left: 40%;
}
.column{
  margin: 0;
  padding: 10px;
  
  width: 20%;
}
.left{
  float: left;
  padding: 10px;
  width: 100px;
  height:100px;
}

.tab{
  font-size: 20px;
  margin: 10px 20px;
  line-height: 100px;
  font-family: 'Rubik Glitch', cursive;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}
.tab:hover,
.tab_active {
  background-color: gray;
  transition: 0.5s;
}
/*.imagen_personal{
  width: 200px;
  height: 200px;
  position: relative;
  left: 25%;
  
}*/
.content_juego {
  height: 75vh;
  nav-right: 100px; 
  background: #d9d9d9;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  display: none;
  margin: 0;
}
.content_referencia {
  height: 75vh;
  nav-right: 100px; 
  background: #d9d9d9;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  display: none;
  margin: 0;
}
.content_nosotros {
  height: 300vh;
  nav-right: 100px; 
  background: #d9d9d9;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  display: none;
  margin: 0;
}


.content_descripcion{
  height: 150vh;
  nav-right: 100px; 
  background: #d9d9d9;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  display: none;
  margin: 0;
}

.content {
  height: 1800px;
  nav-right: 100px; 
  background: #d9d9d9;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  display: none;
  margin: 0;
}

.current {
  background: transparent;
  padding: 15px;
  display: block;
}
.currentab {
  background:transparent;
  cursor: default;
}

figure{
  margin: 8px;
  padding: 2px;
}
.contenido{ 
  width: 400px; 
  margin: 0 auto; 
}
.imagen_personal{
  width: 200px;
  height: 200px;
  position: inherit;
  margin-left: 80px;
  
  
}
section article{
  transition: box-shadow 0.3s ease;
  background-color: white;
  margin: 1rem 0;
  border-radius: 0.5rem;
  padding: 0.2rem 0rem ;
  cursor: pointer;
}
section article :hover{
  box-shadow: 0.01rem 0.4rem rgba(0,0,0,3);
}

section article h2, section article p{
  margin: 1rem;

}
#myCanvas{
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 900px;
}

#boton{
  
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
  position: fixed;
  left: 40%;
}


.contenido{ 
  width: 400px; 
  margin: 0 auto; 
}

section article{
  transition: box-shadow 0.3s ease;
  background-color: white;
  margin: 1rem 0;
  border-radius: 0.5rem;
  padding: 0.2rem 0rem ;
  cursor: pointer;
}
section article :hover{
  box-shadow: 0.01rem 0.4rem rgba(0,0,0,3);
}

section article h2, section article p{
  margin: 1rem;

}
//////////////////////////Código para diseño TABLA////////////////////////////
table{
  width: 100%;
  border-collapse: collapse; 
                              
}
th, td{
  border: solid black;
  padding: 5px;
  text-align: center;
}
th{
  background-color: bisque;
  color:black;
  text-align: center;
}

tr:nth-child(even){
  background-color:#eee;
} 

tr:hover{
  background-color:gray; 
  cursor: pointer; 
}
///////////////////////////////////////////////////////////////////


footer{
  background-color: transparent;
  padding: 3rem;
  color: blue;
  position: relative;
  bottom: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

footer section{
  float: right;
  background-color: transparent;
}
footer p{
  margin: 0;
} 

footer section a{
  transition: color 0.3s ease;
  color: white;
  text-decoration: none;
}

footer a :hover{
  color:cornflowerblue

} 

canvas{
  border:10px solid #d3d3d3;
  background-image: #f1f1f1;
}

.nav-toogle{
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}
.open{
   height: 100vh;
}

.hidden{
  display: none;
}

/*Si la ventana de nuestra página web se reduce a 720px entonces los barras de menús se esconcen en un botón "hamburguesa"
Los textos y tablas se adaptan al tamaño de la ventana, pero no el juego(diseño avanzado para canvas) ya que éste necesita
gran trabajo para diseñar de nuevo todos los elementos, tales como la resolucíon de todos los objetos y posicionarlos de nuevo.*/
 @media all  and (max-width: 720px){
   .main{
     flex-direction: column;
     align-items: flex-start;
   }
   nav{
     height: 0;
     width: 100%;
     overflow: hidden;
     transition: 250ms height ease-in-out;

   }
   .tab{
     display: block;
     text-align: center;
     padding: 1.5rem 0;
   }
   .nav-toogle{
     display: block;
   }
 }