*{
  margin:0;
  box-sizing: border-box;
}
body{
  padding: 90px 20px 0;
}
.header{
  background-color: blueviolet;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

}

/*estilo nav*/
.nav{
  display: flex;
  justify-content: space-between;

  max-width: 992px;
  margin: 0 auto;
}

.nav_link{
  color:aliceblue;
  text-decoration: none;
}

.logo{
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}

.nav_menu{
  display:flex; /* que aparezcan en horizontal*/
  margin-right: 40px;
  list-style: none;
}

.nav_menu_item{
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content; /*no me cortes el contenido*/
}

.nav_menu_link{
  padding: 8px 12px;
  border-radius: 3px;

}

.nav_menu_link:hover,
nav_menu_link_active {
  background-color: gray;
  transition: 0.5s;
}

.nav_toggle{ /*formato a la "hamburguesa" del nav*/
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;

  display: none;
}

/*Para movil
Todo el estilo dentro de @media se le aplicará cuando está a 768px (movil )*/
@media(max-width: 768px){

  body{
      padding-top: 70px;
  }
  .header{
      height: 60px;
      
  
  }
  
  
  .logo{
      font-size: 25px;
      
      padding: 0 20px;
      line-height: 60px;
  }
  
  .nav_menu{
      flex-direction: column; /* que aparezcan en vertical*/
      align-items: center;
      margin-right: 0px;
      background-color: aqua;
      position: fixed;
      left: 0;
      top: 60px;
      width: 100%;
      padding: 20px 0; 

      height: calc(100% - 60px);
      overflow-y: auto;

      left: 100%;
      transition: left 0.3s;
  }
  
  .nav_menu_item{
      line-height: 70px;
      
  }
  
  
  .nav_menu_link:hover,
  .nav_menu_link_active{
      background: none;
      color:gray;
      
  }

  .nav_toggle{
      display: block;
  }
  .nav_menu_visible{
      left:0;
  }
}